@model IEnumerable<projekt_net.Models.Employee>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    @if (User.Identity?.Name == "admin@mail.com")
{

    ViewData["Title"] = "Alla anställda";

    <h1>@ViewData["Title"]</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if(item.Id != 1)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Information</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
} else if (SignInManager.IsSignedIn(User))
{
    ViewData["Title"] = "Din profil";

    <h1>@ViewData["Title"]</h1>
    <hr />
    <div>
        <dl class="row">
            @foreach (var item in Model)
            {
                if(item.Email == User.Identity.Name)
                {
            <dd></dd>
            <dt class="col-sm-2">
                Ditt namn:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Name)
            </dd>
            <dt class="col-sm-2">
                Ditt användarnamn:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Email)
            </dd>
            <dt class="col-sm-2">
                Din profilbild:
            </dt>
            <dd></dd>
            <dt class="col-sm-10">
                <img src="~/images/@Html.DisplayFor(modelItem => item.ImageName)" alt="profilbild" class="profilimg" />
            </dt>
            <dd></dd>
            <dt class="col-sm-2">
                <a asp-action="Edit" asp-route-id="@item.Id">Redigera profil</a>
            </dt>
            <dd></dd>
                }
            }
        </dl>
    </div>
}
