@model IEnumerable<projekt_net.Models.Shift>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (User.Identity?.Name == "admin@mail.com")
{
    ViewData["Title"] = "Lediga pass";

    <h1>@ViewData["Title"]</h1>

    <p>
    <a asp-action="Create">Lägg till nytt ledigt pass</a>
    </p>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sick)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sick)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Change)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
    </table>
} else if (SignInManager.IsSignedIn(User))
{
    ViewData["Title"] = "Se dina lediga arbetspass";

            <h1>@ViewData["Title"]</h1>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.From)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.To)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Available)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sick)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Change)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User_Id)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.From)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.To)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Available)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sick)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Change)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User_Id)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
}
